<h1>Publications</h1>
<p><%= link_to "Create publication", new_publication_path %></p>
<ul>
<% @publications.each do |publication| %>
  <%= link_to publication.title, publication_path(publication) %>
<% end %>
</ul>
