<div class="publications">
  <header class="pageheader">
    <h1>Publications</h1>
  </header>
  <% if user_signed_in? %>
    <div class="edit">
      <p><i class="fa fa-plus"></i><%= link_to "Create publication", new_publication_path %></p>
    </div>
  <% end %>
      <% @publications.group_by { |p| p.publication_category.name }.each do |category, publications| %>
        <div class="publications-list">
          <h2><%= category %></h2>
          <ul>
            <% publications.take(3).each do |publication| %> 
              <li><%= link_to format_publication(publication), publication %></li>
            <% end %>
          </ul>
          <p class="all"><%= link_to "all publications for #{category} ...", sortedpublications_path(category) %></p>
        </div><!-- .publications-list -->
      <% end %>
</div><!-- .publications -->
