<div class="about">
  <header class="pageheader">
    <h1>ABOUT</h1>
  </header>
  <div class="content">
    <p>Research group Hedera (Health and Demographic Research) at the University of Gent stands for expertise within the fields of Sociology of health, Sociology of the family and Social demography. Athough the range of topics studied is wide, there is clearly a connecting thread in the research interests within HeDeRa, namely the focus on crucial life-course transitions – such as birth, migration, marriage, divorce, sickness and death – and the role of the social context in these transitions.</p>
    <p>With regard to the social context at the micro-level, attention is devoted to the (traditional, separated, and newly-composed) family as environment in which the life-course of individuals is formed, and as an important institution within the sociology of health and social demography. Two important branches within HeDeRa can be situated at the meso-level, namely:</p>
    <ol>
      <li>the study of formal health care – the organization of health care – and its consequences for the mental wellbeing of clients</li>
      <li>the study of informal social networks of ethno cultural minorities and their impact on structural and socio-cultural integration.</li>
    </ol>
    <p>At the macro-level, to conclude, we focus on the effects of different forms of inequality/stigmatization based on mental health, gender, ethnicity and social class, and their consequences for health, well-being and socio-cultural integration.</p>
    <p>On a methodological/statistical level, the research group has years of expertise in multilevel techniques. More recently, a lot of attention goes to (1) methodological problems related to cross-national and cross-cultural research and (2) how to address non-response and contactability problems. This last concern also leads to a growing attention for mixed method and qualitative research methods.</p>
    <h2>Examples of recent, current and/or planned research within this research group:</h2>
    <ul>
      <li>Research on the impact of community characteristics on mental health complaints within the wider population.</li>
      <li>Research on gender differences in depression, studied from a cross-national perspective.</li>
      <li>Research on the impact of poverty, and (ethnic) discrimination on mental health.</li>
      <li>Research on stigmatization of persons with psycho-social problems in professional health care settings.</li>
      <li>Research on the cross-national comparison of the determinants and consequences of stigmatization of persons with psycho-social problems.</li>
      <li>Research on the support from fellow sufferers and the organization of mental health care.</li>
      <li>Research on the causes, course, and consequences of divorce and separation (studied both in Flanders and cross-nationally).</li>
      <li>Cross-national comparative research on the experience of giving birth.</li>
      <li>Cross-national comparative research on the causes and consequences of work-family conflict.</li>
      <li>Research on the impact of secularization, romantization and meritocratization on the demographic transition.</li>
      <li>Research on the influence of gender-differentiated socialization on the wellbeing of young-adolescent boys and girls, studied from a family- sociological perspective.</li>
      <li>Research on the causes and consequences of homogamous and heterogamous partner choice.</li>
      <li>Research on the impact of social inequality and cultural differentiation on socio-demographical characteristics.</li>
      <li>Research on transmission of norms and values in Turkish immigrant families and the impact of their social network on acculturation processes.</li>
      <li>Research on job status of ethno-cultural minorities and the role of their informal social networks in finding a job</li>
    </ul>
  </div>
  <aside class="sidebar">
    <%= image_tag "health.jpg" %>
  </aside>
</div>
