<div class="about">
  <header class="pageheader">
    <h1>ABOUT</h1>
  </header>
  <div class="content">
    <p>Research group Hedera (Health and Demographic Research) at the University of Gent stands for expertise within the fields of Sociology of health, Sociology of the family and Social demography. Although the range of topics studied is wide, there is clearly a connecting thread in the research interests within HeDeRa, namely the focus on crucial life-course transitions – such as birth, migration, marriage, divorce, sickness and death – and the role of the social context in these transitions.</p>
    <p>With regard to the social context at the micro-level, attention is devoted to the (traditional, separated, and newly-composed) family as environment in which the life-course of individuals is formed, and as an important institution within the sociology of health and social demography. Two important branches within HeDeRa can be situated at the meso-level, namely:</p>
    <ol>
      <li>the study of formal health care – the organization of health care – and its consequences for the mental wellbeing of clients</li>
      <li>the study of informal social networks of ethno cultural minorities and their impact on structural and socio-cultural integration.</li>
    </ol>
    <p>At the macro-level, to conclude, we focus on the effects of different forms of inequality/stigmatization based on mental health, gender, ethnicity and social class, and their consequences for health, well-being and socio-cultural integration.</p>
    <p>On a methodological/statistical level, the research group has years of expertise in multilevel techniques. More recently, a lot of attention goes to (1) methodological problems related to cross-national and cross-cultural research and (2) how to address non-response and contactability problems. This last concern also leads to a growing attention for mixed method and qualitative research methods.</p>
  </div>
  <aside class="sidebar">
    <%= image_tag "hedera-people.jpg" %>
  </aside>
</div>
