<div class="contact">
    <header class="pageheader">
      <h1>Contact</h1>
    </header>
  <article>
    <div class="content">
    <div class="body">
      <p>Prof. Dr. Bart Van de Putte<br>
      Korte Meer 5, 9000 Gent<br>
      <i class="fa fa-envelope"></i><a href="mailto:bart.vandeputte@ugent.be">Bart.VandePutte@Ugent.be</a></p>
    </div><!-- .body -->
    </div><!-- .content -->
    <aside>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.076699594836!2d3.7208766514294807!3d51.05167155164148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3714430014d09%3A0xc21d304287df580e!2sKorte+Meer+5%2C+9000+Gent!5e0!3m2!1snl!2sbe!4v1472463161261" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </aside>
  </article>
</div>
