<div class="research">
  <header class="pageheader">
        <h1>RESEARCH</h1>
  </header>
  <% if user_signed_in? %>
    <div class="edit">
      <p><i class="fa fa-plus"></i><%= link_to "Create Project", new_project_path %></p>
    </div>
  <% end %>
  <section class="health-sociology">
    <%= image_tag "health.jpg" %>
    <h2>HEALTH SOCIOLOGY</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <% if @projects %>
      <h3>PROJECTS</h3>
      <ul>
        <% @projects.each do |project| %>
          <li><%= link_to project.title, project %></li>
        <% end %>
      </ul>
    <% end %>
  </section><!-- health-sociology -->
</div><!-- .research -->
