<div class="project">
  <article>
    <aside>
      <figure>
        &nbsp;
      </figure>
    </aside>
    <div class="content">
      <header class="articleheader">
        <h1><%= @project.title %></h1>
        <p class="details">
        Researchers: <a href="#">Elien Colman</a>, <a href="#">Sara Symoens</a><br>
        Promotor: <a href"#">Piet Bracke</a></p>
      </header>
      <div class="body">
        <p>Divorce in Flanders is an interacademic (UA, KUL, VUB, UGent, SVR) research project, financed by FWO-SBO. The project aims to get insight in the causes and consequences of family dissolution. Therefore, we compare ever-divorced people with those who are still in their first marriage. Divorce and separation are multi-facet life-events, involving different actors (partners, parents, children, care providers, lawyers,...), and affecting many aspects of life. The data for the project is collected in a multi-actor perspective giving information on both spouses, a child and the parents of both spouses, resulting in a high-standard large-scale database. The study focuses on the following topics: demographic characteristics, partnership, parenthood, social networks, socio-economic factors, well-being, service use, divorce processes and cultural orientations.</p>
      </div><! -- .body -->
      <div class="downloads">
        <p><i class="fa fa-link"></i><a href="http://www.scheidinginvlaanderen.be">www.scheidinginvlaanderen.be</a></p>
      </div>
    </div><!-- .content -->
    <% if user_signed_in? %>
      <div class="edit">
        <p><i class="fa fa-pencil"></i><%= link_to "Edit Project", edit_project_path(@project) %>
      &nbsp;&nbsp;<i class="fa fa-trash"></i><%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
      </p>
      </div>
    <% end %>
  </article>
</div>
