div.about {
  @include outer-container(90%);
  @include media($medium-screen) {
    @include outer-container(80%);
  }
  div.content {
    @include media($medium-screen) {
      @include span-columns(6);
    }

    h2 {
      margin-top: 2.25em;
    }

    li {
      list-style-type: disc;
      margin-bottom: 1em;
      color: $medium-gray;
      margin-left: 2.25em;
    }
  }
  aside.sidebar {
    @include media($medium-screen) {
      @include span-columns(4);
      @include shift(2);
    }
  }
}
