.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
 height: 100%;
}

.wrapper:after {
  content: "";
  display: block;
}

.footer, .wrapper:after {
  $large-screen: 50em !default;
  height: 12em;
  padding: 2.25em;
  padding-top: 1em;

  @include media($large-screen) {
    height: 4em;
  }
}

.footer {
  $large-screen: 50em !default;
  width: 100%;
  border-top: 1px solid $light-gray;
  
  .center {
    @include clearfix;
    clear: both;
    display: block;
    margin: 0 auto;
    width: 80%;
    @include media($medium-screen) {
      width: 15%;
    }
  }

  .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em;

    @include media($large-screen) {
      margin-bottom: 0;
    }

    img {
      height: 2.2em;
    } 
  }

  ul {
    margin: 0;
    padding-left: 0;
    

    @include media($large-screen) {
      padding-top: 0.3em;
      text-align: left;
    }

    li {
      line-height: 1.5em;
      padding-right: 1em;

      @include media($large-screen) {
        display: inline;
        text-align: left;
      }
    }

    a {
      color: $dark-gray;
    }
  }
}
