article.person {
  @include outer-container(90%);
  @include media($medium-screen) {
    @include outer-container(80%);
  }
  margin-bottom: 3.375em;

  aside {
    img {
      margin: 0 auto;
      display: block;
      width: 80%;
      margin-bottom: 1.5em;
      @include media($medium-screen) {
        width: 50%;
      }
      }
    @include media($medium-screen) {
      @include span-columns(4);
      float: right;
    }
  }

  div.content {
    @include media($medium-screen) {
      @include span-columns(6);
    }

    section {
      @include media($medium-screen) {
        margin-top: 0;
      }
      margin-bottom: 2.25em;
      margin-top: 2.25em;
    }
  }
}
