article.news-item {
  @include outer-container(80%);
  header.pageheader {
    margin-bottom: 0;
    h1 {
      text-align: left;
    }
  }
  footer.article {
    margin-bottom: 2.25em;
  }
  div.content {
    @include media($medium-screen) {
      @include span-columns(6);
      float: left;
    }
    margin-bottom: 2.25em;
  }
  aside {
    @include media($medium-screen) {
      @include span-columns(4);
      float: right;
    } 
  }
}
