div.project {
  @include outer-container(90%);
  @include media($medium-screen) {
    @include outer-container(80%);
  }
  article {
    margin-top: 5.063em;
  }
  aside {
    @include media($medium-screen) {
      @include span-columns(4);
      float: right;
    }
    figure {
      margin-bottom: 2.25em;
    }
  }

  .content {
    @include media($medium-screen) {
      @include span-columns(6);
      float: left;
    }

    header {
      margin-bottom: 3.375em;
    }

    .downloads {
      margin-top: 2.25em;
    }
  }
}
