div.research {
  @include outer-container(90%);
  @include media($medium-screen) {
    @include outer-container(80%);
  }

  section.health-sociology, section.ethnic-diversity {
    @include media($medium-screen) {
      @include span-columns(6);
    }
    aside {
      position: absolute;
    }
    img {
      @include media($medium-screen) {
        margin: 0 auto;
      }
      margin: 2.25em auto;
      display: block;
      margin-bottom: 2.25em;
    }
    h2, h3 {
      text-align: center;
      margin-top: 2.25em;
      font-weight: 400;
    }

    h3 {
      font-size: 1em;
    }

    p {
      color: $medium-gray;
    }
  }
}
