div.publications {
  @include outer-container(90%);
  @include media($medium-screen) {
    @include outer-container(80%);
  }

  div.publications-list {
    @include media($medium-screen) {
      @include span-columns(8);
    }

    li {
      margin-bottom: 2.25em;
    }
    margin-bottom: 3.375em;
    p.all {
      font-weight: bold;
      margin-top: 2.25em;
    }
  }
  div.edit {
    margin-bottom: 3.375em;
  }
}
