<footer class="footer" role="contentinfo">
  <div class="center">
  <div class="footer-logo"></div>
    <ul>
      <li><a href="javascript:void(0)">&copy; <%= Date.today.year %> Ghent University </a></li>
    </ul>
  </div>
</footer>
