<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      HEDER<span class="action">A</span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/about.html">ABOUT</a></li>
        <li class="nav-link"><a href="/people.html">PEOPLE</a></li>
        <li class="nav-link"><a href="/research.html">RESEARCH</a></li>
        <li class="nav-link"><%= link_to "PUBLICATIONS", publications_path %></li>
        <li class="nav-link"><a href="/contact.html">CONTACT</a></li>
        <% if user_signed_in? %>
          <li class="nav-link"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
        </ul>
    </nav>
  </div>
</header>
