<div class="people">
  <header class="pageheader">
    <h1>PEOPLE</h1>
  </header>
  <div class="researchers">
    <% @members.each do |member| %>
      <div class="researcher">
        <%= image_tag member.member_pic.url(:medium) %>
        <p><%= link_to member.name, member_path(member) %><br><%= member.title %></p>
      </div><!-- .researcher -->
    <% end %>
  </div><!-- .researchers -->
</div><!-- .people -->

